
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000013;
  background-image: url(https://i.ibb.co/27TYgzX/Background.png);
  background-repeat: no-repeat;
  background-size: auto;
  margin: 50px;
  text-shadow: 0 30px 10px rgba(#000, .15);




}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

td{
  color: #BF7BFB;
  font-family: 'Outfit', sans-serif;
  font-size:140px;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  color: #D6D6F2;
  text-align: justify;
  padding-top: 150px;
  margin-right: 150px;
  line-height: 120%;
  font-family: 'Outfit', sans-serif;
  display: inline;
  position: absolute;
  padding-left: 100px;

}

iframe {
  width: 200px;
  height: 200px;
  border: transparent;
}


p {

  font-size: 20px;
  color: white;
  text-align: left;
  margin-right: 900px;
  margin-bottom:30px;
  font-family: 'Outfit', sans-serif;
  line-height: 140%;
  margin-left: 100px;
  font-weight: lighter;
  position: inherit;
  padding-top: 250px;
  

}

.botoes {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
  margin-left: 80px;
}

.botoes a {
  width: 200px; 
  text-align: center;
  font-size: 14px;
  font-weight: medium;
  color: #fff;
  background-color: #151557;
  padding: 10px;
  text-decoration: none;
  border-radius: 20px;
  font-family: 'Outfit', sans-serif;
  line-height: 140%;
  
}



a:hover {
  background-color: #212187;
}

@keyframes movimento-nuvem {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes movimento-homi {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

.nuviun {
  animation: movimento-homi 10s ease-in-out infinite;
  animation-delay: 1s;
}

.homi {
  animation: movimento-nuvem 10s ease-in-out infinite;

}
.nuvidoi {
  animation: movimento-nuvem 10s ease-in-out infinite;
  animation-delay: 0.5s;
}



section {

  margin-left: 200px;
  position: absolute;
  float: left;
  height: 1500px;
  width: 1500px;
}
.homi{
  margin-left: 200px;
  margin-bottom: 500px;
  height: 150px;
  width: 150px;
  position: fixed;

}

.nuviun {
  position: fixed;
  margin-top: 100px;
}
.nuvidoi{
  position: fixed;
  margin-left: 500px;
  margin-top: 100px;
}

.nuvens{
 
  margin-left: 500px;
  
  
}

table {

margin-left: 250px;
position: fixed;
  
}

.numero {
  bottom: 200px;
  right: 150px;
  font-family: 'MuseoModerno', cursive;
}
.teste{
  display: inline;
}




